body {
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E2D4C9;
  
}

.dashboard-menu {
    background-color: Black;
    color: white;
    width: 290px;
    height: 85vh;
    padding-top: 10px;
    font-weight: bold;
    position: fixed;
}

.dashboard-menu ul {
    list-style: none;
    padding: 0;
}

.dashboard-menu li {
    padding: 24px;
    text-align: center;
}

.dashboard-menu a {
    text-decoration: none;
    color: #ecf0f1;
    display: block;
    font-size: 38px;
}
   
footer {
    background-color: #2b2b2b;
    color: #ecf0f1;
    text-align: center;
    padding: 19px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 19px;
    font-weight: bold;
    font-family: Arial , sans-serif;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-links {
  margin-bottom: 15px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.social-links img {
  width: 40px; 
  height: 40px; 
}

ul#menu a:hover {
    color: #e2c8b3;
    transition: all 0.4s ease;
}

ul#menu a:visited {
    color: rgb(255, 255, 255);
    display: flex;
}

ul#menu a:link {
  text-decoration:none;
  text-transform: none;
  font-weight: bold;
  font-family: Arial , Helvetica , sans-serif;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}

.center-image img {
  max-width: 100%;
  max-height: 100%;
}
